# Ignore .venv file
.venv/

# Ignore .env file
.env
*.env
.env.local
.env.production
.env.development
.env.test

# Ignore .db files
*.db
app.db

# Ignore all markdown files
*.md

# Ignore License
LICENSE

# Ignore .github folder
.github/

# Ignore pycache
__pycache__/

# Ignore .git folder
.git/
